@model IEnumerable<InventoryMasterNew.Models.AisleDto>

@{
    ViewBag.Title = "List";
}

<h2 style="color: cornflowerblue; text-align: center;">List</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AisleCap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AisleCap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AisleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AisleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AisleId })
        </td>
    </tr>
}

</table>
